<a href="https://colab.research.google.com/github/Reijii-sar/hacksai.tula_2022/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#from google.colab import files
#uploaded = files.upload()

In [2]:
#!pip install catboost

In [3]:
import pandas as pd
from catboost import CatBoostRegressor, Pool
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [4]:
df_train = pd.read_csv('train_dataset_train.csv', sep=';', index_col=None, 
                    dtype={'PATIENT_SEX':str, 'MKB_CODE':str, 'ADRES':str,
                           'VISIT_MONTH_YEAR':str, 'AGE_CATEGORY':str, 'PATIENT_ID_COUNT':int})
df_test = pd.read_csv('test_dataset_test.csv', sep=';', index_col=None, 
                   dtype={'PATIENT_SEX':str, 'MKB_CODE':str, 'ADRES':str, 'VISIT_MONTH_YEAR':str, 'AGE_CATEGORY':str})

In [5]:
train = df_train.copy()
test = df_test.copy()

In [6]:
# выделяем общий класс - портрет пациента (PATIENT_SEX+ADRES+AGE_CATEGORY)
def id_patient (data):
    data['ID_PATIENT'] = data['PATIENT_SEX'] + ':' + data['AGE_CATEGORY'] + ':' + data['MKB_CODE'] + ':' + data['ADRES'] 
    #data = data.drop(columns=['PATIENT_SEX', 'AGE_CATEGORY', 'MKB_CODE', 'ADRES']) 
    return data

In [7]:
train = id_patient (train)
test = id_patient (test)

In [8]:
train.head()

,PATIENT_SEX,MKB_CODE,ADRES,VISIT_MONTH_YEAR,AGE_CATEGORY,PATIENT_ID_COUNT,ID_PATIENT
0,0,A00.0,Гурьевск,08.21,young,1,0:young:A00.0:Гурьевск
1,0,A00.0,Калининград,03.20,children,1,0:children:A00.0:Калининград
2,0,A00,Гусев,03.19,children,1,0:children:A00:Гусев
3,0,A00,Калининград,01.22,children,1,0:children:A00:Калининград
4,0,A00,Калининград,02.18,children,1,0:children:A00:Калининград

In [9]:
#избавимся от ID которых нет в тесте         !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
def min_df (train, test):
    id_patient_test = test['ID_PATIENT'].unique()
    abc = train[train['ID_PATIENT'].isin(id_patient_test)].reset_index(drop=True)
    return abc
#def abcd (data):
#    visit = pd.DataFrame(data['ID_PATIENT'].astype(str))
#    visit = visit['ID_PATIENT'].str.split(':',expand=True)
#    visit.columns = ['1','2', '3', '4']
#    visit = pd.concat([data, visit],axis=1)
##    visit = visit.drop(columns=['ID_PATIENT'])
##    visit = visit.drop(columns=['VISIT_YEAR']) 
#    return visit
#train = abcd (train)
#test_test = abcd (test_test)
#test = abcd (test)
#train.head(20)

In [10]:
train.head(5)

,PATIENT_SEX,MKB_CODE,ADRES,VISIT_MONTH_YEAR,AGE_CATEGORY,PATIENT_ID_COUNT,ID_PATIENT
0,0,A00.0,Гурьевск,08.21,young,1,0:young:A00.0:Гурьевск
1,0,A00.0,Калининград,03.20,children,1,0:children:A00.0:Калининград
2,0,A00,Гусев,03.19,children,1,0:children:A00:Гусев
3,0,A00,Калининград,01.22,children,1,0:children:A00:Калининград
4,0,A00,Калининград,02.18,children,1,0:children:A00:Калининград

In [11]:
#делаем промежуточную тестовую выборку
test_test = train [train['VISIT_MONTH_YEAR'] == '03.22'].reset_index(drop=True)
train = train.loc[train['VISIT_MONTH_YEAR'] != '03.22'].reset_index(drop=True)

In [12]:
train = min_df (train, test_test)

In [13]:
train['COUNT'] = train.groupby(['ID_PATIENT'])['ID_PATIENT'].transform('count')

In [14]:
train['SUM'] = train.groupby(['COUNT'])['COUNT'].transform('count') #, 'ADRES', 'VISIT_YEAR'
train['K'] = (train['SUM'].max()/train['SUM']).astype(int)

In [15]:
import numpy as np
koef = train['K'].unique()
train_big = pd.DataFrame() 
for i in koef:
    df_koef = train[train['K'] == i]
    df_koef = pd.DataFrame(np.repeat(df_koef.values, i, axis=0), columns=df_koef.columns).astype(df_koef.dtypes)
    train_big = pd.concat([train_big, df_koef],axis=0)
train = train_big

In [16]:
train = train.drop(columns=['COUNT', 'SUM', 'K'])

In [17]:
train.head()

,PATIENT_SEX,MKB_CODE,ADRES,VISIT_MONTH_YEAR,AGE_CATEGORY,PATIENT_ID_COUNT,ID_PATIENT
0,0,A00,Калининград,01.22,children,1,0:children:A00:Калининград
1,0,A00,Калининград,01.22,children,1,0:children:A00:Калининград
2,0,A00,Калининград,01.22,children,1,0:children:A00:Калининград
3,0,A00,Калининград,01.22,children,1,0:children:A00:Калининград
4,0,A00,Калининград,01.22,children,1,0:children:A00:Калининград

In [18]:
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
train = train.drop(columns=['ID_PATIENT'])
test_test = test_test.drop(columns=['ID_PATIENT'])
test = test.drop(columns=['ID_PATIENT'])

In [19]:
X = train.drop(columns=['PATIENT_ID_COUNT'])
y = train['PATIENT_ID_COUNT']
X_test = test_test.drop(columns=['PATIENT_ID_COUNT'])
y_test = test_test['PATIENT_ID_COUNT']
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.20, random_state=12345)

In [20]:
#column_category = ['VISIT_MONTH_YEAR', 'ID_PATIENT'] 
column_category = ['PATIENT_SEX', 'AGE_CATEGORY', 'MKB_CODE', 'ADRES', 'VISIT_MONTH_YEAR']# 'ID_PATIENT'] 
pool_train = Pool(X_train, y_train, cat_features = column_category)
pool_valid = Pool(X_valid, cat_features = column_category)
pool_test = Pool(X_test, cat_features = column_category)
pool_test_solution = Pool(test, cat_features = column_category)

In [21]:
#Объявление CatBoostRegressor и обучение
model = CatBoostRegressor(
    #task_type='GPU',
    random_state = 12345,
    iterations = 100,
    learning_rate = 0.2,
    depth = 16,
    eval_metric='R2',
    bootstrap_type ='Bernoulli',
    verbose = 10
    )
model.fit(pool_train, early_stopping_rounds=20, eval_set=(X_valid, y_valid))

0:	learn: 0.1388092	test: 0.1412668	best: 0.1412668 (0)	total: 5.62s	remaining: 9m 16s
10:	learn: 0.7957753	test: 0.8073712	best: 0.8073712 (10)	total: 45.5s	remaining: 6m 7s
20:	learn: 0.8274251	test: 0.8400951	best: 0.8400951 (20)	total: 1m 24s	remaining: 5m 16s
30:	learn: 0.8358898	test: 0.8481733	best: 0.8481733 (30)	total: 1m 57s	remaining: 4m 22s
40:	learn: 0.8408899	test: 0.8509123	best: 0.8509123 (40)	total: 2m 33s	remaining: 3m 40s
50:	learn: 0.8445727	test: 0.8534884	best: 0.8534884 (50)	total: 3m 12s	remaining: 3m 4s
60:	learn: 0.8463339	test: 0.8537973	best: 0.8539109 (56)	total: 3m 49s	remaining: 2m 26s
70:	learn: 0.8476109	test: 0.8549267	best: 0.8549267 (70)	total: 4m 30s	remaining: 1m 50s
80:	learn: 0.8487008	test: 0.8553969	best: 0.8554079 (78)	total: 5m 10s	remaining: 1m 12s
90:	learn: 0.8493033	test: 0.8554425	best: 0.8555132 (88)	total: 5m 49s	remaining: 34.5s
99:	learn: 0.8500166	test: 0.8557674	best: 0.8559795 (94)	total: 6m 22s	remaining: 0us

bestTest = 0.8559795185
bestIteration = 94

Shrink model to first 95 iterations.

In [22]:
pred_valid = model.predict(pool_valid)

In [23]:
pred_test = model.predict(pool_test)

In [24]:
print("Значение метрики R2 на valid: ", r2_score(y_valid, pred_valid))
print("Значение метрики R2 на test: ", r2_score(y_test, pred_test))

Значение метрики R2 на valid:  0.8559795185299991
Значение метрики R2 на test:  0.7124115074862509

In [25]:
pred_test

array([1.84421066, 0.97239346, 1.55913294, ..., 6.75976254, 0.81806001,
       0.71801411])

In [26]:
pred_solution = model.predict(pool_test_solution)
pred_solution.astype(int)

array([1, 0, 1, ..., 2, 0, 1])

In [27]:
print (pred_solution.min(), pred_solution.max(), pred_solution.mean())

-21.737059042469536 3294.484226616618 4.226907583352395

In [28]:
#Формируем sample_solution для отправки на платформу
test_solution = df_test.copy()
test_solution['PATIENT_ID_COUNT'] = pred_solution.astype(int)

In [29]:
test_solution.to_csv('sample_solution_sample5.csv', sep=';', index=None)

In [30]:
display (test_solution .head(10))
display (df_train.head(10))

,PATIENT_SEX,MKB_CODE,ADRES,VISIT_MONTH_YEAR,AGE_CATEGORY,PATIENT_ID_COUNT
0,0,A00,Калининград,04.22,children,1
1,0,A00,Калининград,04.22,elderly,0
2,0,A00,Калининград,04.22,middleage,1
3,0,A00,Калининград,04.22,young,7
4,0,A01,Калининград,04.22,middleage,3
5,0,A02.0,Гурьевск,04.22,children,3
6,0,A02.0,Калининград,04.22,children,3
7,0,A02.0,Черняховск,04.22,children,2
8,0,A03.9,Калининград,04.22,children,1
9,0,A04.0,Черняховск,04.22,children,2

,PATIENT_SEX,MKB_CODE,ADRES,VISIT_MONTH_YEAR,AGE_CATEGORY,PATIENT_ID_COUNT
0,0,A00.0,Гурьевск,08.21,young,1
1,0,A00.0,Калининград,03.20,children,1
2,0,A00,Гусев,03.19,children,1
3,0,A00,Калининград,01.22,children,1
4,0,A00,Калининград,02.18,children,1
5,0,A00,Калининград,03.22,children,4
6,0,A00,Калининград,03.22,elderly,1
7,0,A00,Калининград,03.22,middleage,1
8,0,A00,Калининград,03.22,young,3
9,0,A00,Калининград,07.18,young,1